@charset "UTF-8";

/*
    em HTML o ID =  em CSS # ( só pode um elemento)
    em HTNL a Class = em CSS . ( pode vários elementos)
*/
body {
    background-color: rgb(170, 245, 170);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
   color:rgb(2, 117, 2) ;
}
h1#principal{
    text-align: center;
    background-color:rgb(2, 117, 2) ;
    color: white;
}
h2{
    color: rgb(9, 158, 138);
}
.basico{
    color: rgb(9, 158, 138);
    
}
.intermediario{
    color: rgb(158, 143, 9);
}
.avancado{
    color: rgb(158, 26, 9);
}
.destaque{
    background-color: rgb(146, 146, 71);
}